@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/web/src/**/*.{ts,tsx}";
@source "../components/**/*.{tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: #fffcf5;
  --background-50: #fff7e5;
  --background-100: #fff0cc;
  --background-200: #ffe099;
  --background-300: #ffd166;
  --background-400: #ffc233;
  --background-500: #ffb300;
  --background-600: #cc8f00;
  --background-700: #996b00;
  --background-800: #664700;
  --background-900: #332400;
  --background-950: #1a1200;

  --foreground: #705038;
  --foreground-50: #f6f2ee;
  --foreground-100: #eee4dd;
  --foreground-200: #ddcabb;
  --foreground-300: #ccaf99;
  --foreground-400: #bb9577;
  --foreground-500: #aa7a55;
  --foreground-600: #886244;
  --foreground-700: #664933;
  --foreground-800: #443122;
  --foreground-900: #221811;
  --foreground-950: #110c09;

  --primary: #652023;
  --primary-50: #f9ecec;
  --primary-100: #f3d8da;
  --primary-200: #e7b1b4;
  --primary-300: #da8b8f;
  --primary-400: #ce6469;
  --primary-500: #c23d44;
  --primary-600: #9b3136;
  --primary-700: #742529;
  --primary-800: #4e181b;
  --primary-900: #270c0e;
  --primary-950: #130607;

  --primary-foreground: #ffffff;

  --secondary: #d6b695;
  --secondary-50: #f8f2ed;
  --secondary-100: #f1e6da;
  --secondary-200: #e2ccb6;
  --secondary-300: #d4b391;
  --secondary-400: #c6996c;
  --secondary-500: #b88047;
  --secondary-600: #936639;
  --secondary-700: #6e4d2b;
  --secondary-800: #49331d;
  --secondary-900: #251a0e;
  --secondary-950: #120d07;
  --secondary-foreground: #ffffff;

  --accent: #ece4da;
  --accent-50: #f6f3ee;
  --accent-100: #eee6dd;
  --accent-200: #dccebc;
  --accent-300: #cbb59a;
  --accent-400: #ba9c78;
  --accent-500: #a88457;
  --accent-600: #876945;
  --accent-700: #654f34;
  --accent-800: #433523;
  --accent-900: #221a11;
  --accent-950: #110d09;
  --accent-foreground: var(--primary);

  --destructive: #c60007;
  --success: #1dd11d;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: var(--color-foreground);
  --input: var(--color-foreground);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --radius: 0.625rem;

  --background: #0a0700;
  --background-50: #1a1200;
  --background-100: #332400;
  --background-200: #664700;
  --background-300: #996b00;
  --background-400: #cc8f00;
  --background-500: #ffb300;
  --background-600: #ffc233;
  --background-700: #ffd166;
  --background-800: #ffe099;
  --background-900: #fff0cc;
  --background-950: #fff7e5;

  --foreground: #c7a78f;
  --foreground-50: #110c09;
  --foreground-100: #221811;
  --foreground-200: #443122;
  --foreground-300: #664933;
  --foreground-400: #886244;
  --foreground-500: #aa7a55;
  --foreground-600: #bb9577;
  --foreground-700: #ccaf99;
  --foreground-800: #ddcabb;
  --foreground-900: #eee4dd;
  --foreground-950: #f6f2ee;

  --primary: #652023;
  --primary-50: #130607;
  --primary-100: #270c0e;
  --primary-200: #4e181b;
  --primary-300: #742529;
  --primary-400: #9b3136;
  --primary-500: #c23d44;
  --primary-600: #ce6469;
  --primary-700: #da8b8f;
  --primary-800: #e7b1b4;
  --primary-900: #f3d8da;
  --primary-950: #f9ecec;
  --primary-foreground: #ffffff;

  --secondary: #6a4a29;
  --secondary-50: #120d07;
  --secondary-100: #251a0e;
  --secondary-200: #49331d;
  --secondary-300: #6e4d2b;
  --secondary-400: #936639;
  --secondary-500: #b88047;
  --secondary-600: #c6996c;
  --secondary-700: #d4b391;
  --secondary-800: #e2ccb6;
  --secondary-900: #f1e6da;
  --secondary-950: #f8f2ed;
  --secondary-foreground: #ffffff;

  --accent: #251d13;
  --accent-50: #110d09;
  --accent-100: #221a11;
  --accent-200: #433523;
  --accent-300: #654f34;
  --accent-400: #876945;
  --accent-500: #a88457;
  --accent-600: #ba9c78;
  --accent-700: #cbb59a;
  --accent-800: #dccebc;
  --accent-900: #eee6dd;
  --accent-950: #f6f3ee;
  --accent-foreground: var(--background);

  --destructive: #c60007;
  --success: #1dd11d;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: var(--color-foreground);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-foreground: var(--foreground);
  --color-foreground-50: var(--foreground-50);
  --color-foreground-100: var(--foreground-100);
  --color-foreground-200: var(--foreground-200);
  --color-foreground-300: var(--foreground-300);
  --color-foreground-400: var(--foreground-400);
  --color-foreground-500: var(--foreground-500);
  --color-foreground-600: var(--foreground-600);
  --color-foreground-700: var(--foreground-700);
  --color-foreground-800: var(--foreground-800);
  --color-foreground-900: var(--foreground-900);
  --color-foreground-950: var(--foreground-950);

  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
